<ion-header-bar class="bar-positive">
  <h1 class="title">Feed info</h1>
</ion-header-bar>

<ion-content class="has-header padding">

<form class="form-new" name="form-new"    novalidate>
  <div class="list">
    <div class="form-group">
      <label class="item item-input">
        <span class="input-label">Photo {{image1}}</span>
          
          <img class="small-image pull-left thumbnail" data-ng-src="{{image1}}"/>
        
      </label>

      <label class="item item-input">
        <span class="input-label">Thing</span>
        <input type="text" class="form-control" name="thing" ng-model="app.thing" required autofocus mongoose-error>
      </label>
      <label class="item item-input">
        <span class="input-label">Category/Event</span>
        <input type="text" class="form-control" name="category" ng-model="app.category" autofocus mongoose-error>
      </label>
      <label class="item item-input">
        <span class="input-label">Kept@</span>
        <input type="text" class="form-control" name="destination" ng-model="app.destination" autofocus mongoose-error>
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" class="form-control" name="description" ng-model="app.description" autofocus mongoose-error>
      </label>
      <label class="item item-input">
        <span class="input-label">Remind me</span>
        <input type="text" class="form-control" name="reminddue" ng-model="app.reminddue" autofocus mongoose-error> - 
        <input type="text" class="form-control" name="remindbefore" ng-model="app.remindbefore" autofocus mongoose-error>
        <span class="input-label">Hours</span>
      </label>
    </div>

    <label class="item item-input">
      <button class="button button-block button-positive" type="submit">Save</button>
    </label>
  </div>
  </form>

</ion-content>